{{! //////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/menu/kando           //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT
}}

<!--
  This is used for editor toolbar tabs which are still work in progress.
-->
<div class='d-flex flex-column justify-content-center h-100'>
  <div class='text-center kando-font fs-3'>
    {{heading}}
  </div>
  <div class='text-center kando-font fs-5'>
    {{subheading}}
  </div>
  <div class='text-center mb-4'>
    <span class='swirl'></span>
  </div>
</div>