{{! //////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/menu/kando           //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT
}}

<!--
  This tab displays a grid of buttons which can be used to select the active menu.
-->

<div class='d-flex h-100 flex-column'>

  <div class='d-flex flex-row mx-3 mt-3 justify-content-end gap-1'>

    <label class='d-flex mt-3'>
      <input type="checkbox" class="form-check-input" />
      <div class="flex-grow-1">
        <div class='kando-font fs-3'>
          Use Separate Settings for Light and Dark Mode
        </div>
        <div class='kando-font fs-6'>
          If enabled, you can choose different themes and colors if the system is in light or dark mode.
        </div>
      </div>
    </label>

    <button class='btn btn-secondary text-start fs-6'>
      <i class='material-symbols-rounded inline-icon mx-1'>folder_managed</i>Open System Themes Directory
    </button>
    <button class='btn btn-secondary text-start fs-6'>
      <i class='material-symbols-rounded inline-icon mx-1'>folder_supervised</i>Open User Themes Directory
    </button>
    <button class='btn btn-secondary text-start fs-6 disabled'>
      <i class='material-symbols-rounded inline-icon mx-1'>download</i>Get Themes Online
    </button>
  </div> 

  <div class='flex-grow-1 align-content-start scrollbox mx-2'>
    <div class="scrollbox-content toolbar-button-grid">
      {{#each themes}}
        <div>
          <div data-theme-id="{{id}}" class="kando-font btn btn-secondary toolbar-theme-button {{#if checked}} checked {{/if}}">
            <img src="{{preview}}" />
            <div class="align-self-center">
              <div class="name fs-4">{{name}}</div>
              <div class="description fs-6">{{author}}</div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
 
</div>