{{! //////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/menu/kando           //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT
}}

<input type="text" class="icon-list-picker-filter fs-3 kando-font form-control flex-grow-1 mt-3" placeholder="{{strings/placeholder}}" />

<div class='scrollbox mx-2'>
  <div class="scrollbox-content">
    <div class="icon-list-picker-grid" class="justify-content-start"></div>
  </div>
</div>

<span class="icon-list-picker-spinner"></span>
