# dependencies
node_modules/
pnpm-debug.log
.pnpm-debug.log*

# builds
**/dist/
**/build/
coverage/
*.tgz

# app-specific
apps/kando/.webpack/
apps/kando/build/
apps/kando/Release/
.webpack/
**/.svelte-kit/

# macOS
.DS_Store
