# SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
# SPDX-License-Identifier: CC0-1.0

# Do not format Markdown files
*.md

# We ignore Handlebars templates because they contain things such as the ../ parent
# context slector which the used Glimmer parser does not understand.
*.hbs