//////////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/kando-menu/kando     //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT

#kando-editor-container {
  #kando-menu-properties {
    position: absolute;
    top: $editor-padding-top;
    right: $editor-padding-right;
    padding-left: 1vw;
    padding-bottom: 1vw;

    // Full height - 5vh top margin - 250px toolbar height - 40px gap.
    height: calc(
      100vh - $editor-padding-top - $editor-padding-bottom-small - $toolbar-height
    );
    width: calc(
      (100vw - $editor-padding-left - $editor-padding-right) *
        (1 - $preview-properties-ratio)
    );

    @media (max-aspect-ratio: 3/4) {
      $width: calc(100vw - $editor-padding-left - $editor-padding-right);
      $preview-height: calc($width * 2 / 3);
      width: $width;
      height: calc(
        100vh - $editor-padding-top - $editor-padding-bottom-small - $toolbar-height -
          $preview-height
      );

      padding-left: 0;
    }

    & > div {
      width: 100%;
      height: 100%;
      border: 2px dashed rgba(255, 255, 255, 0.2);
      border-radius: var(--bs-border-radius);
    }

    transition: opacity 150ms ease;
    opacity: 0;
  }

  &.edit-mode #kando-menu-properties.visible {
    opacity: 1;
  }
}
