//////////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/kando-menu/kando     //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT

@use '../../variables.scss' as *;

.sidebar {
  min-height: 0px; // This is important to make the scrollboxes work.
  background-color: $toolbar-background;
  width: 350px;
  min-width: 250px;
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.resizer {
  width: 10px;
  cursor: ew-resize;
  opacity: 0.1;
  transition: opacity 0.2s;
  z-index: 10;

  &.left {
    margin-right: -10px;
    transform: translateX(-5px);
  }

  &.right {
    margin-left: -10px;
    transform: translateX(5px);
  }

  &::before {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    background-color: $text-normal;
    margin: 0 auto;
  }

  &:hover {
    opacity: 0.4;
  }
}
