//////////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/kando-menu/kando     //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT

@import '../../variables.scss';

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: $text-primary;

  input {
    &::-webkit-inner-spin-button {
      appearance: none;
    }

    background-color: $background-secondary;

    color: $text-primary;
    text-align: center;
    border: none;
    border-radius: 0;
    font-size: inherit;

    padding: 5px 7px;
    font-size: 1em;

    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }
}

.spinbutton {
  display: flex;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}
