/* ------------------------------------------------------------------------------------- #
#    _  _ ____ _  _ ___  ____                                                            #
#    |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform          #
#    | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/kando-menu/kando      #
#                                                                                        #
# -------------------------------------------------------------------------------------- #

SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
SPDX-License-Identifier: MIT
*/

#editor-container {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 150ms ease;
}

body.editor-visible #editor-container {
  pointer-events: all;
  opacity: 1;
}

#show-editor-button,
#hide-editor-button {
  transform: translateY(20px);
  opacity: 0;
  position: absolute;

  i {
    transform: none;
  }
}

#show-editor-button {
  border-top-left-radius: 50%;
  right: 10px;
  bottom: 10px;
}

#hide-editor-button {
  right: -55px;
  top: 0px;
}

body.menu-visible:not(.editor-visible) #show-editor-button {
  transform: translateY(0px);
  opacity: 1;
}

body.menu-visible.editor-visible #hide-editor-button {
  transform: translateY(0px);
  opacity: 1;
}

#editor-toolbar {
  position: absolute;
  bottom: 10px;
  left: 10%;
  width: 80%;
  pointer-events: none;
  opacity: 0;

  transform: translateY(20px);

  transition:
    transform 150ms ease,
    opacity 150ms ease;
}

body.menu-visible.editor-visible #editor-toolbar {
  pointer-events: all;
  transform: none;
  opacity: 1;
}

#editor-toolbar-content {
  border-radius: 0 0 var(--bs-border-radius) var(--bs-border-radius);
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);

  height: 200px;
}
