//////////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/kando-menu/kando     //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT

// The menu editor consists of several components:
// * The background is drawn behind all other editor components but in front of the
//   actual pie menu. It basically hides the pie menu while editing.
// * The sidebar is shown alongside the pie menu and can be shown or hidden
//   independently from the main editor. However, it is actually part of the editor
//   and is drawn inside the #kando-editor.
// * The other editor components such as the editor-toolbar at the bottom of the screen
//   or the menu configuration widgets in the screen's center. They are visible when
//   the editor is in 'edit-mode'.

@import './common/variables.scss';

// The menu editor of Kando uses Bootstrap 5.
@import '../../../node_modules/bootstrap/scss/bootstrap';

@import './common/fonts.scss';
@import './common/scrollbox.scss';
@import './common/icon-container.scss';
@import './background/background.scss';
@import './sidebar/sidebar.scss';
@import './toolbar/toolbar.scss';
@import './preview/preview.scss';
@import './properties/properties.scss';

// Handle pointer events -----------------------------------------------------------------

// As the editor UI elements are always drawn on top of the actual pie menu, we have to
// make sure that they do not intercept pointer events if the editor is not in edit-mode.
// The sidebar and the show-toolbar button make sure to receive pointer events themselves.

#kando-editor {
  pointer-events: none;

  &.edit-mode {
    pointer-events: all;
  }
}

// Basic UI styling ----------------------------------------------------------------------

#kando-editor {
  color: #{$kando-text-color};

  --bs-heading-color: #{$kando-text-color};
  --bs-code-color: #{$kando-highlight-color};
  --bs-border-radius: 0.6rem;
  --bs-border-width: 0;
  --bs-body-bg: rgba(0, 0, 0, 0.6);
  --bs-body-color: #{$kando-text-color};
  --bs-secondary-color: rgba(255, 255, 255, 0.3);
  --bs-emphasis-color: rgba(255, 255, 255);
  --bs-link-color: #{$kando-highlight-color};

  .row {
    --bs-gutter-x: 0.5rem;
  }

  // Make buttons respond to clicks by moving down a bit.
  .btn {
    white-space: nowrap;

    &.disabled {
      background: repeating-linear-gradient(
        -45deg,
        #363636,
        #363636 10px,
        #3f3e3b 10px,
        #3f3e3b 20px
      );
    }

    &:active {
      transform: translateY(1px);
    }
  }

  .btn-primary,
  .btn-secondary {
    --bs-btn-bg: rgba(255, 255, 255, 0.1);
    --bs-btn-hover-bg: rgba(255, 255, 255, 0.15);
    --bs-btn-active-bg: rgba(255, 255, 255, 0.2);
    --bs-btn-border-color: transparent;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-border-color: transparent;
  }

  .btn-dark {
    --bs-btn-bg: rgba(0, 0, 0, 0.8);
    --bs-btn-hover-bg: rgba(30, 30, 30, 0.8);
  }

  // Add a dashed border to text inputs.
  .form-control {
    --bs-body-bg: rgba(255, 255, 255, 0.1);
    border: 2px dashed transparent;
  }

  input.form-control:focus {
    border: 2px dashed white;
    box-shadow: none;
  }

  // Make checkboxes round and transparent,
  .form-check-input {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: none !important;
    @include rfs(3.5rem, font-size);

    &:hover {
      background-color: rgba(255, 255, 255, 0.15);
    }

    &:active {
      transform: translateY(1px);
    }

    &:checked {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &[type='checkbox'] {
      border-radius: 50%;
    }
  }

  // Give dropdowns a dark background.
  option {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .form-select {
    --bs-form-select-bg-img: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23fffa40%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e');
  }

  // We make the tooltip background a bit darker.
  .tooltip {
    --bs-tooltip-bg: rgba(220, 220, 220, 0.99);
  }
}
