/* ------------------------------------------------------------------------------------- #
#    _  _ ____ _  _ ___  ____                                                            #
#    |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform          #
#    | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/kando-menu/kando      #
#                                                                                        #
# -------------------------------------------------------------------------------------- #

SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
SPDX-License-Identifier: MIT
*/

#editor-container {
  background-color: rgb(29, 108, 187);
  background-image: linear-gradient(rgba(255, 255, 255, 0.1) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.1) 2px, transparent 1px),
    linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    radial-gradient(ellipse at 50% 50%, transparent 0px, rgba(0, 0, 0, 0.5) 100%);
  background-size:
    100px 100px,
    100px 100px,
    20px 20px,
    20px 20px,
    100% 100%;
  background-position:
    -1px -1px,
    -1px -1px,
    0px 0px,
    0px 0px,
    0px 0px;
}
