//////////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/kando-menu/kando     //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT

#kando-editor-container {
  #enter-edit-mode-button,
  #leave-edit-mode-button {
    position: absolute;
    opacity: 0;
    font-size: 1.5rem;
    transform: translateY(20px);

    i {
      top: 0;
    }
  }

  &.visible:not(.edit-mode) #enter-edit-mode-button {
    pointer-events: all;
    transform: translateY(0px);
    opacity: 1;
  }

  &.visible.edit-mode #leave-edit-mode-button {
    pointer-events: all;
    transform: translateY(0px);
    opacity: 1;
  }

  #kando-editor-toolbar {
    position: absolute;
    bottom: $toolbar-padding;
    left: $editor-padding-left;
    right: $editor-padding-right;
    height: $toolbar-height;
    opacity: 0;

    transform: translateY(20px);

    transition:
      height 250ms cubic-bezier(0.775, 1.325, 0.535, 1),
      bottom 250ms cubic-bezier(0.775, 1.325, 0.535, 1),
      transform 150ms ease,
      opacity 150ms ease;

    .nav-tabs {
      gap: 8px;

      .nav-link {
        padding-bottom: 0;
      }
    }

    &.large {
      height: calc(100vh - $editor-padding-top - $editor-padding-bottom);
      bottom: $editor-padding-bottom;
    }

    .swirl {
      display: inline-block;
      background-image: url(../../assets/images/swirl.svg);
      width: 160px;
      height: 14px;
    }
  }

  &.visible.edit-mode #kando-editor-toolbar {
    transform: none;
    opacity: 1;
  }
}
