//////////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/kando-menu/kando     //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT

#kando-editor-container {
  $tab-height: 40px;
  $menu-button-icon-size: 65px;

  #enter-edit-mode-button,
  #leave-edit-mode-button {
    position: absolute;
    opacity: 0;
    transform: translateY(20px);

    i {
      top: 0;
    }
  }

  &.visible:not(.edit-mode) #enter-edit-mode-button {
    pointer-events: all;
    transform: translateY(0px);
    opacity: 1;
  }

  &.visible.edit-mode #leave-edit-mode-button {
    pointer-events: all;
    transform: translateY(0px);
    opacity: 1;
  }

  #kando-editor-toolbar {
    position: absolute;
    bottom: $editor-padding-bottom-small;
    left: $editor-padding-left;
    right: $editor-padding-right;
    padding-top: 1vh;
    opacity: 0;

    transform: translateY(20px);

    transition:
      bottom 250ms cubic-bezier(0.775, 1.325, 0.535, 1),
      transform 150ms ease,
      opacity 150ms ease;

    .nav-tabs {
      @include rfs(0.5rem, gap);
      align-items: flex-end;

      .nav-link {
        @include rfs(0.5rem, padding-top);
        @include rfs(1rem, padding-left);
        @include rfs(1rem, padding-right);
        padding-bottom: 0;
        transition:
          padding-bottom 150ms ease,
          margin-top 150ms ease;

        i {
          position: relative;
          top: -3px;
        }
      }
    }

    .tab-content {
      height: calc($toolbar-height - $tab-height);
      transition: height 250ms cubic-bezier(0.775, 1.325, 0.535, 1);
    }

    &.large {
      bottom: $editor-padding-bottom-large;

      // Draw above the menu preview.
      z-index: 2;

      .tab-content {
        height: calc(
          100vh - $editor-padding-top - $editor-padding-bottom-large - $tab-height
        );
      }
    }

    .swirl {
      display: inline-block;
      background-image: url(../../assets/images/swirl.svg);
      width: 160px;
      height: 14px;

      &.vertical {
        width: 14px;
        height: 160px;
        background-image: url(../../assets/images/swirl-vertical.svg);
      }
    }

    &.dragging-deletable-item .nav-link[data-bs-target='#kando-trash-tab'],
    &.dragging-stashable-item .nav-link[data-bs-target='#kando-stash-tab'] {
      margin-top: -10px;
      padding-bottom: 10px;

      &:hover {
        margin-top: -20px;
        padding-bottom: 20px;
      }
    }
  }

  &.visible.edit-mode #kando-editor-toolbar {
    transform: none;
    opacity: 1;
  }

  #menu-buttons-list {
    .scrollbox-content {
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(auto-fit, minmax(rfs-fluid-value(300px), 1fr));
    }
  }

  .add-menu-button,
  .menu-selection-button {
    input {
      display: none;
    }

    border: 2px dashed rgba(255, 255, 255, 0);
    overflow: hidden;
    transition: transform 150ms linear;

    &:has(input:checked) {
      border-color: rgba(255, 255, 255, 0.5);
      background: var(--bs-btn-active-bg);
    }

    &.dragging {
      border: 2px solid rgba(255, 255, 255, 0.5);
      transition: none;
      pointer-events: none;
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
    }

    .icon-container {
      pointer-events: none;
      @include rfs($menu-button-icon-size, width);
      @include rfs($menu-button-icon-size, height);
      @include rfs($menu-button-icon-size, min-width);
      @include rfs($menu-button-icon-size, min-height);
      background-color: white;
      border-radius: 50%;
      margin-right: var(--bs-btn-padding-x);
      transition: background-color 150ms linear;

      i {
        transition: color 150ms linear;
        color: black;
      }
    }

    .shortcut,
    .name {
      pointer-events: none;
      text-align: left;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .add-menu-button {
    transition: width 250ms cubic-bezier(0.775, 1.325, 0.535, 1);

    @include rfs(calc($menu-button-icon-size + 1.5rem), width);

    .name {
      transition: opacity 150ms linear;
      opacity: 0;
    }

    &:not(:hover) {
      .icon-container {
        background-color: transparent;

        i {
          color: white;
        }
      }
    }

    &:hover {
      width: 100%;

      .name {
        opacity: 1;
      }
    }
  }
}
