//////////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/kando-menu/kando     //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT

#kando-menu-container {
  transition: opacity 150ms ease;

  &.hidden {
    opacity: 0;
  }

  // We want to delay the fade-out animation if a node is selected. Else the
  // selected node would disappear before the position transition is finished.
  &.selected {
    transition-delay: 150ms;
  }

  .node {
    position: absolute;
    pointer-events: none;
  }

  .item {
    position: absolute;
    border-radius: 50%;
  }

  // Hide deeper levels than grandchildren.
  .node.grandchild > .node {
    display: none;
  }
}
