//////////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/kando-menu/kando     //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT

$root-size: 100px;
$child-size: 50px;
$grandchild-size: 15px;
$connector-size: 10px;
$item-color: rgb(255, 255, 255);
$text-color: rgb(66, 66, 66);
$hovered-item-color: rgb(255, 200, 200);
$border-color: rgb(109, 109, 109);

$connector-color: rgb(109, 109, 109);
$connector-color-hover: rgb(172, 136, 136);
$connector-color-active: rgb(255, 200, 200);

$menu-transition: all 250ms cubic-bezier(0.775, 1.325, 0.535, 1);
$text-opacity-transition: opacity 250ms ease;
