//////////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/kando-menu/kando     //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT

@use 'sass:color';

@use '../../variables.scss' as *;
@use '../../mixins.scss' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  font-weight: bold;

  opacity: 0.9;

  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.caret {
  flex-shrink: 0;
  transition: transform 0.2s;

  transform: rotate(0deg);

  &:not(.expanded) {
    transform: rotate(90deg);
  }
}

.content {
  overflow: hidden;
}
