//////////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/kando-menu/kando     //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT

@use '../../variables.scss' as *;

.pickerIcon {
  border-radius: 8px;
  border: none;
  padding: 0;
  background-color: transparent;

  & > div {
    margin: 10%;
  }

  &:active {
    transform: translateY(1px);
  }

  &:hover {
    background-color: $widget-light;
  }

  &.selected {
    background-color: $widget-selected;
    outline: $border-selected;
    outline-offset: -2px;
  }
}
