//////////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/kando-menu/kando     //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT

@use 'sass:color';

@use '../../variables.scss' as *;

.note {
  color: $text-normal;

  &.center {
    text-align: center;
  }

  &.hero {
    font-size: 1.8em;
    font-weight: 300;
  }

  &.big {
    font-size: 1.2em;
  }

  &.small {
    font-size: 0.8em;
    color: $text-muted;
  }

  &.warning {
    font-size: 0.8em;
    border-top: 1px solid $text-warning;
    padding: 0.5em 0;
    background-color: rgba($text-warning, $alpha: 0.2);
  }
}
