//////////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/kando-menu/kando     //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT

@use '../../variables.scss' as *;

.progressBar {
  width: 100%;
  height: 8px;
  border-radius: 10px;
  overflow: hidden;

  &.big {
    height: 12px;
  }

  span {
    display: block;
    height: 100%;
  }

  .bar {
    width: 100%;
    height: 100%;
    background-color: $toolbar-background;
  }

  .progress {
    background-color: $text-link;
    transition: width 0.2s ease-in-out;
  }
}
