//////////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/kando-menu/kando     //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT

@use '../../variables.scss' as *;
@use '../../mixins.scss' as *;

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: $text-normal;

  input {
    @include text-input;
    min-width: 0px;
    width: 100%;
  }

  .inputContainer {
    flex: 2;
    max-width: 350px;
  }

  &.fullWidth .inputContainer {
    max-width: 100%;
  }
}

.flat input {
  background-color: transparent;
  text-align: center;

  &:hover {
    background-color: $widget-light;
  }
}

.label {
  flex: 1;
  white-space: nowrap;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}
