//////////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/kando-menu/kando     //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-FileCopyrightText: Jonathan Hurst <jpch2k4@gmail.com>
// SPDX-License-Identifier: MIT

@use '../../variables.scss' as *;

.container {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 10px auto;
}

.value {
  color: $text-normal;
}

.area {
  color: $text-normal;
  padding: 10px;
  position: relative;
  width: 250px;
  aspect-ratio: 16/9;
  border-radius: 5px;
  margin: 10px auto 20px auto;
  border: 2px solid $text-link;
  background-color: light-dark(rgba($key-dark, 0.1), rgba($key-light, 0.1));
}

.selectedValue {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  color: $text-normal;
  white-space: nowrap;
}

.positionPicker {
  flex-shrink: 0;
  background-color: $widget-normal;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  &:hover {
    background-color: $widget-normal-hover;
  }
}

.topLeftPresetButton,
.topRightPresetButton,
.bottomLeftPresetButton,
.bottomRightPresetButton,
.centerPresetButton {
  position: absolute;
}

.topLeftPresetButton {
  top: 0px;
  left: 0px;
}

.topRightPresetButton {
  top: 0px;
  right: 0px;
}

.bottomLeftPresetButton {
  bottom: 0px;
  left: 0px;
}

.bottomRightPresetButton {
  bottom: 0px;
  right: 0px;
}

.centerPresetButton {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.crosshair {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  color: $text-normal;
  font-size: 2em;
  width: 100%;
  height: 100%;

  &:active {
    transform: translateY(1px);
  }
}

.buttons {
  display: flex;
  gap: 5px;
}
