{{! //////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/menu/kando           //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT
}}

<div class="fs-1 kando-font">{{heading}}</div>
<div class="fs-5 mb-1">{{{subheading}}}</div>

{{> checkbox-option 
    label="Limit to Specific Apps"
    hint="Show the menu only if a specific application is focused."
    checkedHint="This supports regular expressions like /firefox|chrome/i."
    id="kando-properties-condition-app-checkbox"
}}

<div id="kando-properties-condition-app-collapse" class="collapse">
  <div class="input-group">
    <input id="kando-properties-condition-app" type="text" 
          class="form-control my-2 fs-3 kando-font" placeholder="App Name">
    <button class="btn btn-primary align-self-center fs-3"
            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Use the app which was focused when the Kando was opened.">
      <i class='material-symbols-rounded inline-icon'>highlight_mouse_cursor</i>
    </button>
  </div>
</div>

{{> checkbox-option 
    label="Limit to Specific Window Titles"
    hint="Show the menu only if the focused window's title contains a given text."
    checkedHint="This supports regular expressions like /youtube|vimeo/i."
    id="kando-properties-condition-window-checkbox"
}}

<div id="kando-properties-condition-window-collapse" class="collapse">
  <div class="input-group">
    <input id="kando-properties-condition-window" type="text" 
          class="form-control my-2 fs-3 kando-font" placeholder="Window Title">
    <button class="btn btn-primary align-self-center fs-3"
            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Use the window which was focused when the Kando was opened.">
      <i class='material-symbols-rounded inline-icon'>highlight_mouse_cursor</i>
    </button>
  </div>
</div>

{{> checkbox-option 
    label="Limit to Specific Screen Area"
    hint="Show the menu only if the pointer is in a given area on the screen."
    checkedHint="In pixels, relative to the top left corner of your main display."
    id="kando-properties-condition-screen-checkbox"
}}

<div id="kando-properties-condition-screen-collapse" class="collapse">
  <div id="kando-properties-condition-screen-hint" class="fs-5 kando-font"></div>
  <div class="input-group my-2">
    <input id="kando-properties-condition-screen-x-min" type="number" class="form-control fs-3 kando-font" placeholder="Left">
    <input id="kando-properties-condition-screen-x-max" type="number" class="form-control fs-3 kando-font" placeholder="Right">
    <input id="kando-properties-condition-screen-y-min" type="number" class="form-control fs-3 kando-font" placeholder="Top">
    <input id="kando-properties-condition-screen-y-max" type="number" class="form-control fs-3 kando-font" placeholder="Bottom">
  </div>
</div>

<div class='d-flex justify-content-end mt-3'>
  <button class="btn btn-secondary fs-3 kando-font my-3 px-5 ms-auto" id="kando-properties-condition-picker-done">Done</button>
</div>