{{! //////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/menu/kando           //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT
}}

<div id="kando-menu-properties-area" class="visible">

  <div id="kando-menu-properties-base-settings" class='d-flex flex-column justify-content-center'>
    <div class='d-flex'>
      <button class="btn btn-primary p-0 me-3" id="kando-menu-properties-icon-button"></button>
      <input type="text" class="kando-font fs-1 form-control" id="kando-menu-properties-name" />
    </div>

    <div id="kando-menu-properties-menu-settings" class='d-flex flex-column'>
      
      <label class='d-flex mt-3'>
        <div class="flex-grow-1">
          <div class='kando-font fs-2'>
            Open at Pointer
          </div>
          <div class='kando-font fs-5'>
            Else the menu will open in the screen's center.
          </div>
        </div>
        <input type="checkbox" class="form-check-input" id="kando-menu-properties-open-at-pointer" />
      </label>

      <div class='d-flex mt-3'>
        <div class="flex-grow-1">
          <div class='kando-font fs-2'>
            {{shortcutLabel}}
          </div>
          <div class='kando-font fs-5'>
            {{shortcutHint}}
          </div>
        </div>
        <div id="kando-menu-properties-shortcut-picker" class="align-self-center" style="flex-grow: 2;"></div>
      </div>

    </div>


    <div id="kando-menu-properties-hint" class="align-self-center text-center kando-font mt-3 fs-4" style="opacity:0.5; width: 80%; font-style:italic"></div>

    <div class="swirl2 align-self-center mt-2" style="width: 80%; opacity: 0.5;"></div>

  </div>

  <div id="kando-menu-properties-icon-picker"></div>

</div>