{{! //////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/menu/kando           //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT
}}

<div class="shortcut-picker input-group">
  <input type="text" class="form-control fs-3 kando-font" placeholder="{{placeholder}}" size="10">
  <button class="btn btn-primary fs-3"><i class='material-symbols-rounded inline-icon'>keyboard</i></button>
</div>
