//////////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/kando-menu/kando     //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT

#kando-editor-container {
  // Positioning and animations of the show- and hide-sidebar buttons.
  #show-sidebar-button,
  #hide-sidebar-button {
    position: absolute;
    opacity: 0;
    font-size: 1.5rem;
    transform: translateX(-20px);

    i {
      top: 0;
    }
  }

  &.visible #show-sidebar-button.visible {
    pointer-events: all;
    transform: translateX(0px);
    opacity: 1;
  }

  &.visible #hide-sidebar-button.visible {
    pointer-events: all;
    transform: translateX(0px);
    opacity: 1;
  }

  #kando-editor-sidebar {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 500px;

    .sidebar-item {
      overflow: hidden;
      margin: 15px;

      opacity: 0;
      transform: translateX(-20px);

      transition:
        transform 150ms ease,
        opacity 150ms ease;
    }

    @for $i from 1 through 10 {
      .sidebar-item:nth-child(#{$i}) {
        transition-delay: #{($i - 1) * 30}ms;
      }
    }
  }

  &.visible #kando-editor-sidebar.visible .sidebar-item {
    pointer-events: all;
    opacity: 1;
    transform: translateX(0px);
  }
}
