//////////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/kando-menu/kando     //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT

// We use Bootstrap RFS to scale various things based on the window size. We set the base
// value to a small number to make sure that RFS is also applied to small things like
// padding and margin.
$rfs-base-value: 0.1rem;
$rfs-breakpoint: 1400px;

// In the future, we will extract some more styling variables.
$kando-text-color: #c4c4c4;
$kando-highlight-color: #ffc8c8;

// Below this aspect ratio, the editor will be displayed in a vertical layout.
$editor-aspect-breakpoint: 0.9;

// We use a golden ratio to determine the width of the preview and the properties area.
$preview-properties-ratio: 0.618;

// Outer padding of the editor area. The small bottom padding is used when the toolbar is
// collapsed. The large bottom padding is used when the toolbar is expanded.
$editor-padding-left: 7vw;
$editor-padding-right: 7vw;
$editor-padding-top: 7vh;
$editor-padding-bottom-large: 7vh;
$editor-padding-bottom-small: 1vh;

// The area where the menu preview is displayed uses this fixed aspect ratio.
$preview-aspect-ratio: 1.5;

// The scale of the preview components is computed using container size queries (cqmin).
// So you usually consider the values to be in percent of the preview areas's height
// (because this is smaller than its width).
$preview-center-size: 22cqmin;
$preview-child-size: 12cqmin;
$preview-child-distance: 26cqmin;
$preview-grandchild-size: 3cqmin;
$preview-active-outline-offset: 1.5cqmin;
$preview-backlink-width: 4cqmin;
$preview-backlink-inner-length: 8cqmin;
$preview-backlink-outer-length: 30cqmin;
$preview-label-distance: 19cqmin;
$preview-label-max-size: 30cqmin;
$preview-lock-size: 5cqmin;

// The toolbar height is usually 20% of the viewport height but at least 250px.
$toolbar-height: max(250px, 20vh);
$toolbar-tab-height: 40px;
$toolbar-menu-button-icon-size: 65px;
