//////////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/kando-menu/kando     //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT

@import './text-picker.scss';

#kando-menu-properties-area {
  position: absolute;
  top: $editor-padding-top;
  right: $editor-padding-right;
  padding-left: 1vw;
  padding-bottom: 1vw;

  // Usually, the properties view is displayed on the right side of the menu preview. Here
  // we set the width and height accordingly.
  height: calc(
    100vh - $editor-padding-top - $editor-padding-bottom-small - $toolbar-height
  );
  width: calc(
    (100vw - $editor-padding-left - $editor-padding-right) *
      (1 - $preview-properties-ratio)
  );

  // For vertical screens, we change the layout and display the properties view above the
  // menu preview.
  @media (max-aspect-ratio: $editor-aspect-breakpoint) {
    $width: calc(100vw - $editor-padding-left - $editor-padding-right);
    $preview-height: calc($width / $preview-aspect-ratio);
    width: $width;
    height: calc(
      100vh - $editor-padding-top - $editor-padding-bottom-small - $toolbar-height -
        $preview-height
    );

    padding-left: 0;
  }

  display: none;
  transition: opacity 150ms ease;
  opacity: 0;

  .wip {
    border-radius: 10px;
    border: 2px dashed rgba(255, 255, 255, 0.5);
  }

  #kando-menu-properties-icon-picker,
  #kando-menu-properties-condition-picker,
  #kando-menu-properties-advanced-options-picker,
  #kando-menu-properties-base-settings {
    position: absolute;
    top: 0;
    left: 1vw;
    right: 0;
    bottom: 1vw;

    opacity: 1;
    transform: none;

    transition:
      opacity 150ms ease,
      transform 150ms ease;

    &.hidden {
      transform: scale(0.9);
      pointer-events: none;
      opacity: 0;
    }
  }

  #kando-menu-properties-base-settings.hidden {
    transform: scale(1.1);
  }

  #kando-menu-properties-icon-button {
    flex-basis: content;

    .icon-container {
      @include rfs(5rem, width);
      @include rfs(5rem, height);
    }
  }

  #kando-menu-properties-settings-wrapper {
    transition:
      height 150ms ease-in-out,
      opacity 75ms ease;
    overflow: visible clip;
    &.hidden {
      opacity: 0;
    }
  }

  #kando-menu-properties-menu-settings.hidden {
    display: none !important;
  }

  #kando-menu-properties-hint {
    @include rfs(4.5rem, height);

    opacity: 0.7;
    width: 75%;
    font-style: italic;
  }
}

#kando-editor.edit-mode #kando-menu-properties-area,
#kando-editor.leaving-edit-mode #kando-menu-properties-area {
  display: block;
}

#kando-editor.edit-mode #kando-menu-properties-area.visible {
  opacity: 1;
}
