//////////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/kando-menu/kando     //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT

@use 'sass:color';

$base-dark: #222226;
$base-light: #fafafb;
$key-dark: #9f3b67;
$key-light: #f0cece;
$key-warning: #e99031;

$text-normal: light-dark(#333, #eee);
$text-always-light: light-dark(#eee, #fff);
$text-muted: light-dark(#777, #aaa);
$text-link: light-dark($key-dark, $key-light);
$text-warning: $key-warning;
$text-link-hover: light-dark(
  color.adjust($key-dark, $lightness: 10%),
  color.adjust($key-light, $lightness: 10%)
);
$text-warning-hover: color.adjust($key-warning, $lightness: 10%);

$window-background: light-dark($base-light, $base-dark);

$widget-normal: light-dark(
  rgba(color.adjust($base-light, $lightness: -10%), $alpha: 0.8),
  rgba(color.adjust($base-dark, $lightness: 20%), $alpha: 0.8)
);
$widget-normal-hover: light-dark(
  rgba(color.adjust($base-light, $lightness: -15%), $alpha: 0.8),
  rgba(color.adjust($base-dark, $lightness: 25%), $alpha: 0.8)
);
$widget-normal-active: light-dark(
  rgba(color.adjust($base-light, $lightness: -20%), $alpha: 0.8),
  rgba(color.adjust($base-dark, $lightness: 30%), $alpha: 0.8)
);

$widget-inverted: light-dark(
  color.adjust($base-light, $lightness: -50%),
  color.adjust($base-dark, $lightness: 40%)
);
$widget-inverted-hover: light-dark(
  color.adjust($base-light, $lightness: -60%),
  color.adjust($base-dark, $lightness: 50%)
);

$area-border: 1px solid light-dark(rgba(#333, 0.15), rgba(#9e9e9e, 0.15));
$drop-highlight: 0 0 10px light-dark($key-dark, $key-light);
$border-selected: 1.5px solid light-dark($key-dark, $key-light);
$border-focused: 1.5px solid
  light-dark(
    color.mix($key-dark, color.adjust($base-light, $lightness: -10%), 50%),
    color.mix($key-light, color.adjust($base-dark, $lightness: 10%), 50%)
  );
