# SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Version=1.0
Type=Application
Name=Kando
Comment=Do things with utmost efficiency
Categories=Utility;
Icon=menu.kando.Kando
Exec=AppRun %U
Terminal=false