//////////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/kando-menu/kando     //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT

@import '../variable.scss';

.button {
  display: inline-flex;
  justify-content: center;

  color: $text-primary;
  border: none;
  border-radius: 5px;
  font-size: inherit;

  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  &:active {
    transform: translateY(1px);
  }

  &.grouped:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.grouped:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.secondary {
  background-color: $background-secondary;
}

.flat {
  background-color: transparent;
}

.primary {
  background-color: $background-primary;
  color: $text-primary;
}

.small {
  padding: 5px 7px;
  font-size: 0.8em;
  gap: 4px;

  &.grouped {
    padding: 5px;
  }
}

.medium {
  padding: 7px 10px;
  font-size: 1em;
  gap: 6px;

  &.grouped {
    padding: 7px;
  }
}

.large {
  padding: 9px 13px;
  font-size: 1.2em;
  gap: 8px;

  &.grouped {
    padding: 9px;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.block {
  width: 100%;
}
