//////////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/kando-menu/kando     //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT

@import '../variables.scss';

.collectionsList {
  -webkit-app-region: drag;
}

.collection,
.deleteButton {
  display: block;
  border: none;
  background-color: $background-secondary;
  color: $text-primary;
  border: 1px solid transparent;

  border-radius: 50%;
  -webkit-app-region: no-drag;

  &.transparent {
    background-color: transparent;

    &:hover {
      background-color: $background-secondary;
    }
  }

  &.selected {
    background-color: $background-selected;
    border: 1px solid $border-selected;
    color: $text-primary;

    &:hover {
      background-color: $background-selected;
    }
  }

  &:hover {
    background-color: $background-secondary-hover;
  }

  &:active {
    transform: translateY(1px);
  }
}

.collection {
  width: 48px;
  height: 48px;
  margin: 10px 0;
  position: relative;
}

.deleteButton {
  opacity: 0;
  background-color: $background-selected;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: -8px;
  right: -8px;
  width: 25px;
  height: 25px;

  transition: opacity 0.2s;

  &:hover {
    background-color: $background-selected-hover;
  }
}

.collection.selected .deleteButton {
  opacity: 1;
  pointer-events: all;
}
