//////////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/kando-menu/kando     //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT

@use '../variables.scss' as *;

.previewArea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  container-type: size;

  .preview {
    position: relative;
    width: 100cqmin;
    height: 100cqmin;

    .child,
    .center,
    .backLink,
    .lock {
      position: absolute;

      aspect-ratio: 1;

      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.3);

      transform: translate(-50%, -50%);

      &:hover {
        background-color: rgba(0, 0, 0, 0.4);
      }

      &.selected {
        border: $border-selected;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }

    .center {
      width: 25cqmin;
      top: 50cqmin;
      left: 50cqmin;
      padding: 1cqmin;

      &:active {
        top: calc(50cqmin + 1px);
      }

      :global(.icon-container) {
        clip-path: circle(50% at 50% 50%);
      }
    }

    .child {
      width: 12cqmin;
      padding: 1cqmin;

      left: calc(50cqmin + 30cqmin * var(--dir-x));
      top: calc(50cqmin + 30cqmin * var(--dir-y));

      &.dragging {
        opacity: 0.3;
        filter: blur(2px);
      }

      &:active {
        top: calc(50cqmin + 30cqmin * var(--dir-y) + 1px);
      }

      :global(.icon-container) {
        clip-path: circle(50% at 50% 50%);
      }
    }

    .lock {
      width: 4cqmin;
      padding: 0.5cqmin;

      left: calc(50cqmin + 18cqmin * var(--dir-x));
      top: calc(50cqmin + 18cqmin * var(--dir-y));

      background-color: transparent;
      color: $text-normal;
      opacity: 0.5;

      &.locked {
        opacity: 1;
        color: $key-light;
        background-color: rgba(0, 0, 0, 0.2);

        &:hover {
          background-color: rgba(0, 0, 0, 0.3);
        }
      }

      &:hover {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.1);
      }

      &:active {
        top: calc(50cqmin + 18cqmin * var(--dir-y) + 1px);
      }
    }

    .grandChild {
      position: absolute;
      width: 4cqmin;
      aspect-ratio: 1;

      border-radius: 50%;

      transform: translate(-50%, -50%);

      left: calc(50% + 7cqmin * var(--dir-x));
      top: calc(50% + 7cqmin * var(--dir-y));

      background: linear-gradient(
        var(--angle),
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 40%,
        rgba(0, 0, 0, 0.2) 70%,
        rgba(0, 0, 0, 0.2) 100%
      );
    }

    .backLink {
      position: relative;
      width: 10cqmin;

      left: calc(50cqmin + 30cqmin * var(--dir-x));
      top: calc(50cqmin + 30cqmin * var(--dir-y));

      transform: translate(-50%, -50%) rotate(var(--angle));

      &:active {
        top: calc(50cqmin + 30cqmin * var(--dir-y) + 1px);
      }

      // The ::before and ::after pseudo elements are used to draw the backlink line.
      &::before,
      &::after {
        content: '';
        position: absolute;
        height: 4cqmin;
        top: 3cqmin;
      }

      // The outer part.
      &::before {
        width: 12cqmin;
        right: -12cqmin;

        background: linear-gradient(
          to left,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.1) 25%,
          rgba(0, 0, 0, 0.1) 85%,
          rgba(0, 0, 0, 0) 100%
        );
      }

      // The inner part.
      &::after {
        width: 10cqmin;
        left: -10cqmin;

        background: linear-gradient(
          to left,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.1) 15%,
          rgba(0, 0, 0, 0.1) 75%,
          rgba(0, 0, 0, 0) 100%
        );
      }
    }
  }
}

.transitionContainer {
  transition:
    opacity 250ms ease,
    transform 350ms cubic-bezier(0.45, 1.45, 0.55, 1);
  position: absolute;

  &.fadeEnter {
    opacity: 0;
    transform: translate(
      calc(30cqmin * var(--transition-dir-x)),
      calc(30cqmin * var(--transition-dir-y))
    );
  }

  &.fadeExit {
    opacity: 1;
    transform: none;
  }

  &.fadeExitActive {
    opacity: 0;
    transform: translate(
      calc(-30cqmin * var(--transition-dir-x)),
      calc(-30cqmin * var(--transition-dir-y))
    );
    pointer-events: none;
  }

  &.fadeEnterActive {
    opacity: 1;
    transform: none;
    pointer-events: none;
  }
}
