//////////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/kando-menu/kando     //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT

.container {
  display: flex;
}

.sidebar {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
}

.themesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.themeCard {
  height: 300px;
  background-color: rgba(121, 121, 121, 0.575);
  border-radius: 5px;
}

.themePreview {
  width: 100%;
  aspect-ratio: 1;
}
