//////////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/kando-menu/kando     //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT

@import '../variables.scss';

.container {
  min-height: 0px; // This is important to make the scrollboxes work.
  flex-grow: 1;
  display: flex;
}

.collectionsList {
  -webkit-app-region: drag;
}

.menuList {
  background-color: $background-normal;
  padding: 0 5px;
  border-top-left-radius: 10px;
  flex-grow: 1;
}

.collection,
.menu {
  display: block;
  border: none;
  background-color: $background-secondary;
  color: $text-primary;
  border: 1px solid transparent;

  &.selected {
    background-color: $background-selected;
    border: 1px solid $border-selected;
    color: $text-primary;

    &:hover {
      background-color: $background-selected-hover;
    }
  }

  &:hover {
    background-color: $background-secondary-hover;
  }

  &:active {
    transform: translateY(1px);
  }
}

.collection {
  width: 48px;
  height: 48px;
  margin: 5px;
  border-radius: 50%;
  -webkit-app-region: no-drag;

  &.transparent {
    background-color: transparent;

    &:hover {
      background-color: $background-secondary;
    }
  }
}

.menu {
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 8px;
  text-align: left;
  width: 100%;
}

.menuTitle {
  font-size: 1rem;
}

.menuSubtitle {
  color: $text-secondary;
  font-size: 0.8rem;
}
