//////////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/kando-menu/kando     //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT

@import '../variables.scss';

.menuList {
  min-width: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.menuListHeader {
  -webkit-app-region: drag;
  min-height: env(titlebar-area-height, 30);
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  font-weight: bold;
  margin-left: 10px;

  button {
    -webkit-app-region: no-drag;
  }

  &.editCollection {
    -webkit-app-region: no-drag;
  }
}

.collectionName {
  position: relative;
  pointer-events: none;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  background: transparent;
  font-size: 1rem;
  field-sizing: content;

  transition: all 0.3s ease;
}

.editCollection .collectionName {
  pointer-events: auto;
  padding: 5px 15px;
  margin: 10px 0;
  background-color: $background-secondary;
}

.collectionEditor {
  padding: 0 10px 10px 10px;
  align-self: stretch;

  .searchInput {
    display: flex;

    input {
      background-color: $background-secondary;
      width: 100%;
      color: $text-primary;
      border: none;
      border-radius: 0;
      border-radius: 5px 0 0 5px;

      padding: 5px;
      font-size: 1rem;

      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.menuListContent {
  position: relative;
  min-height: 0px; // This is important to make the scrollboxes work.
  background-color: $background-normal;
  padding: 0 5px;
  border-top-left-radius: 10px;
  flex-grow: 1;
}

.menu {
  display: block;
  border: none;
  background-color: $background-secondary;
  color: $text-primary;
  border: 1px solid transparent;

  padding: 10px;
  border-radius: 8px;
  margin-bottom: 8px;
  text-align: left;
  width: 100%;

  * {
    pointer-events: none;
  }

  &.selected {
    background-color: $background-selected;
    border: 1px solid $border-selected;
    color: $text-primary;

    &:hover {
      background-color: $background-selected;
    }
  }

  &:hover {
    background-color: $background-secondary-hover;
  }

  &:active {
    transform: translateY(1px);
  }

  &.dragging {
    opacity: 0.5;
    filter: blur(2px);
  }
}

.menuTitle,
.menuSubtitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.menuTitle {
  font-size: 1rem;
}

.menuSubtitle {
  color: $text-secondary;
  font-size: 0.8rem;
}

.floatingButton {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
