//////////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/kando-menu/kando     //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT

.previewArea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  container-type: size;

  .preview {
    position: relative;
    width: 100cqmin;
    height: 100cqmin;

    .child,
    .center,
    .backLink {
      position: absolute;
      padding: 1cqmin;
      aspect-ratio: 1;

      border-radius: 50cqmin;
      background-color: rgba(0, 0, 0, 0.2);

      transform: translate(-50%, -50%);

      &:hover {
        background-color: rgba(0, 0, 0, 0.3);
      }

      &.selected {
        background-color: rgba(0, 0, 0, 0.5);
      }
    }

    .center {
      width: 25cqmin;
      top: 50cqmin;
      left: 50cqmin;

      &:active {
        top: calc(50cqmin + 1px);
      }
    }

    .child {
      width: 12cqmin;

      left: calc(50cqmin + 30cqmin * var(--dir-x));
      top: calc(50cqmin + 30cqmin * var(--dir-y));

      &.dragging {
        opacity: 0.3;
        filter: blur(2px);
      }

      &:active {
        top: calc(50cqmin + 30cqmin * var(--dir-y) + 1px);
      }
    }

    .backLink {
      position: relative;
      width: 10cqmin;
      padding: 0;

      left: calc(50cqmin + 30cqmin * var(--dir-x));
      top: calc(50cqmin + 30cqmin * var(--dir-y));

      transform: translate(-50%, -50%) rotate(var(--angle));

      &:active {
        top: calc(50cqmin + 30cqmin * var(--dir-y) + 1px);
      }

      // The ::before and ::after pseudo elements are used to draw the backlink line.
      &::before,
      &::after {
        content: '';
        position: absolute;
        height: 4cqmin;
        top: 3cqmin;
      }

      // The outer part.
      &::before {
        width: 12cqmin;
        right: -12cqmin;

        background: linear-gradient(
          to left,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.1) 25%,
          rgba(0, 0, 0, 0.1) 85%,
          rgba(0, 0, 0, 0) 100%
        );
      }

      // The inner part.
      &::after {
        width: 10cqmin;
        left: -10cqmin;

        background: linear-gradient(
          to left,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.1) 15%,
          rgba(0, 0, 0, 0.1) 75%,
          rgba(0, 0, 0, 0) 100%
        );
      }
    }
  }
}

.fadeEnter {
  opacity: 0;
}
.fadeEnterActive {
  opacity: 1;
  transition: opacity 300ms;
  pointer-events: none;
}
.fadeExit {
  opacity: 1;
}
.fadeExitActive {
  opacity: 0;
  transition: opacity 300ms;
  pointer-events: none;
}
