//////////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/kando-menu/kando     //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT

.container {
  flex-grow: 1;
  min-width: 400px;
  background-color: rgba(255, 255, 255, 0.5);
  color-scheme: only light;
  color: #eee;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.previewArea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  container-type: size;

  .preview {
    width: 100cqmin;
    height: 100cqmin;
  }
}

.itemArea {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .header {
    display: flex;
    align-items: flex-end;

    .leftLine {
      background-image: linear-gradient(
        to left,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 80%
      );
      height: 1px;
      flex-grow: 1;
    }

    .rightLine {
      background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 80%
      );
      height: 1px;
      flex-grow: 1;
    }

    .title {
      border: 1px solid rgba(255, 255, 255, 1);
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 8px 8px 0 0;
      border-width: 1px 1px 0 1px;
      padding: 5px 10px;
    }
  }

  .shadow {
    background-image: radial-gradient(
      ellipse at 50% 0%,
      rgba(0, 0, 0, 0.3) 10%,
      rgba(0, 0, 0, 0) 70%
    );
    height: 80px;
    margin-bottom: -80px;
  }

  .items {
    word-wrap: break-word;
    text-align: center;
    padding: 10px;

    .item {
      display: inline-block;
      cursor: grab;
      border-radius: 50%;
      width: min(calc(20px + 2vw), 50px);
      margin: 5px min(calc(4px + 0.4vw), 10px);
      aspect-ratio: 1;
      background-color: rgba(0, 0, 0, 0.2);

      &:active {
        transform: translateY(1px);
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.3);
      }

      &.dragging {
        opacity: 0.3;
        filter: blur(2px);
      }
    }
  }
}
