/* ------------------------------------------------------------------------------------- #
#                                                                                        #
#      |  /  __|   \ |       _ \   _ \     This file belongs to Ken-Do,                  #
#      . <   _|   .  | ____| |  | (   |    the open-source cross-platform pie menu.      #
#     _|\_\ ___| _|\_|      ___/ \___/     Read more on github.com/ken-do-menu/ken-do    #
#                                                                                        #
# -------------------------------------------------------------------------------------- #

SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
SPDX-License-Identifier: MIT
*/

body {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    margin: 0;
    transition: background-color 500ms;

    &.visible {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

.circle {
    position: absolute;
    top: -50px;
    left: -50px;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 100%;
    opacity: 0;
    transition: opacity 500ms;

    &:hover {
        background-color: rgb(247, 101, 101);
    }
}

body.visible .circle {
    opacity: 1;
}