/* ------------------------------------------------------------------------------------- #
#    _  _ ____ _  _ ___  ____                                                            #
#    |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform          #
#    | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/kando-menu/kando      #
#                                                                                        #
# -------------------------------------------------------------------------------------- #

SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
SPDX-License-Identifier: MIT
*/

body {
  overflow: hidden;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}

#menu-container {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

#editor-left {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 400px;
  border-radius: 24px;
  padding: 0px 10px 10px 10px;
  line-height: 1.5em;

  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  color: white;

  transition: transform 150ms ease, opacity 150ms ease;

  span {
    font-weight: bold;
  }
}

#editor-left.hidden,
body.hidden #editor-left {
  transform: translateX(-20px);
  opacity: 0;
  pointer-events: none;
}

#show-editor-button {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);

  &:hover {
    background-color: rgba(50, 50, 50, 0.7);
  }
}

#hide-editor-button {
  position: absolute;
  right: 10px;
  top: 10px;
}

#show-editor-button.hidden,
body.hidden #show-editor-button {
  transform: translateX(-10px);
  opacity: 0;
}

.editor-circle-button {
  min-width: 40px;
  height: 40px;
  background-color: rgba(50, 50, 50, 0.7);
  color: white;
  border-radius: 20px;
  transition: all 150ms ease;
  margin-bottom: 5px;

  // Center text.
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    margin: 0 5px;
    font-size: 28px;
  }

  &:hover {
    background-color: rgba(80, 80, 80, 0.7);
  }

  &:active {
    transform: translateY(1px);
  }
}
