//////////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/kando-menu/kando     //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT

#kando-editor-container {
  #kando-menu-preview-container {
    position: absolute;
    top: $editor-padding-top;
    left: $editor-padding-left;
    transition: opacity 150ms ease;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.1);

    width: calc(
      (100vw - $editor-padding-left - $editor-padding-right) * $preview-properties-ratio
    );
    height: calc(100vh - $editor-padding-top - $toolbar-height - 40px);

    .aspect-width-box {
      position: relative;
      background-color: rgba(255, 255, 255, 0.1);
      aspect-ratio: 1.6 / 0.9;
      width: 100%;
      max-height: 100%;
    }

    .aspect-height-box {
      position: relative;
      background-color: rgba(255, 255, 255, 0.1);
      aspect-ratio: 1.6 / 0.9;
      height: 100%;
      max-height: 100%;
    }

    .aspect-square-box {
      position: relative;
      background-color: rgba(255, 255, 255, 0.1);
      aspect-ratio: 1 / 1;
      height: 100%;
      padding: 5%;
    }

    .kando-menu-preview-center,
    .kando-menu-preview-child {
      position: absolute;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.1);
      border: 2px solid rgb(255, 255, 255);
      transition: transform 150ms ease;
      aspect-ratio: 1 / 1;

      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 75%;
        height: 75%;
        fill: rgb(255, 255, 255);

        text {
          font-size: 100px;
          alignment-baseline: central;
          text-anchor: middle;
        }
      }

      &:hover::before {
        content: '';
        border-radius: 50%;
        position: absolute;
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
        border: 2px dashed rgb(255, 255, 255);
      }
    }
  }

  &.edit-mode #kando-menu-preview-container.visible {
    opacity: 1;
  }
}
