{{! //////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/menu/kando           //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT
}}

<div class="fs-1 kando-font">{{strings/heading}}</div>
<div class="fs-5 mb-1">{{{strings/subheading}}}</div>

{{> checkbox-option 
    label=strings/centeredMode
    hint=strings/centeredModeHint
    id="kando-menu-properties-centered-mode"
}}

{{> checkbox-option 
    label=strings/warpMouse
    hint=strings/warpMouseHint
    id="kando-menu-properties-warp-mouse"
}}

{{> checkbox-option 
    label=strings/anchoredMode
    hint=strings/anchoredModeHint
    checkedHint=strings/anchoredModeCheckedHint
    id="kando-menu-properties-anchored-mode"
}}

<div class='d-flex justify-content-end mt-3'>
  <button class="btn btn-secondary fs-3 kando-font my-3 px-5 ms-auto" id="kando-properties-advanced-options-picker-close">{{strings/done}}</button>
</div>