//////////////////////////////////////////////////////////////////////////////////////////
//   _  _ ____ _  _ ___  ____                                                           //
//   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         //
//   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/kando-menu/kando     //
//                                                                                      //
//////////////////////////////////////////////////////////////////////////////////////////

// SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
// SPDX-License-Identifier: MIT

// Show- and hide-sidebar buttons --------------------------------------------------------

// Hide them per default.
#show-sidebar-button,
#hide-sidebar-button {
  position: absolute;
  opacity: 0;
  transform: translateX(-20px);
  transition:
    transform 150ms ease,
    opacity 150ms ease;
}

// This adds a tiny animation when the menu (and with it the editor) is shown or hidden.
#kando-editor.visible #show-sidebar-button.visible,
#kando-editor.visible #hide-sidebar-button.visible {
  pointer-events: all;
  transform: translateX(0px);
}

#kando-editor.visible #show-sidebar-button.visible {
  opacity: var(--show-sidebar-button-opacity);
}

#kando-editor.visible #show-sidebar-button.visible:hover,
#kando-editor.visible #hide-sidebar-button.visible {
  opacity: 1;
}

#show-sidebar-button {
  border-bottom-right-radius: 50%;
  left: 10px;
  top: 10px;
}

#hide-sidebar-button {
  right: -40px;
  top: 15px;
}

// The sidebar itself --------------------------------------------------------------------

#kando-editor-sidebar-area {
  pointer-events: none;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 500px;

  // Position the sidebar above any dragged menu items.
  z-index: 10;

  .sidebar-item {
    overflow: hidden;
    margin: 15px;
    opacity: 0;
    transform: translateX(-20px);

    border-radius: var(--bs-border-radius);
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);

    transition:
      transform 150ms ease,
      opacity 150ms ease;
  }

  // We show and hide the lower sidebar items with a little delay. This gives a subtle
  // but very dynamic variance to the animation.
  @for $i from 1 through 10 {
    .sidebar-item:nth-child(#{$i}) {
      transition-delay: #{($i - 1) * 30}ms;
    }
  }

  // The sidebar uses a bootstrap accordion for the individual items. We style it here.
  .accordion {
    --bs-accordion-color: #{$kando-text-color};
    --bs-accordion-padding-x: 1rem;
    --bs-accordion-padding-y: 0.75rem;
    --bs-accordion-btn-padding-x: 1rem;
    --bs-accordion-btn-padding-y: 0.75rem;
    --bs-accordion-border-width: 0;
    --bs-accordion-btn-color: var(--bs-heading-color);
    --bs-accordion-bg: transparent;
    --bs-accordion-active-bg: transparent;
    --bs-accordion-active-color: var(--bs-code-color);
    --bs-accordion-btn-focus-border-color-dark: transparent;
    --bs-accordion-btn-focus-border-color: transparent;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-btn-bg: transparent;
    --bs-accordion-btn-active-icon: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23ffc8c8%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e');
    --bs-accordion-btn-icon: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23c4c4c4%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e');
  }

  // We also add a hover effect to the accordion's header.
  .accordion-header {
    transition: background-color 250ms ease;

    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
    }

    &:active {
      transform: translateY(1px);
    }
  }

  .accordion-collapse > div {
    padding: 0 var(--bs-accordion-btn-padding-x) var(--bs-accordion-btn-padding-y)
      var(--bs-accordion-btn-padding-x);
  }

  .accordion-button i {
    padding-right: 0.2rem;
  }

  // The carousel is used for the introduction. As it's displayed in a pretty small window,
  // we need to reduce the padding and the caption size.
  .carousel {
    --bs-carousel-caption-padding-y: 0.25rem;
    --bs-carousel-caption-spacer: 0.25rem;
  }

  .carousel-indicators {
    top: 0.5rem;
    bottom: auto;
  }

  .carousel-caption {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 50%, transparent);
    right: 0;
    left: 0;
    bottom: 0;
    padding: 2rem 1rem 0 1rem;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: none !important;
  }

  // There's one text entry in the sidebar. We add a subtle glow when it's focused.
  .form-control:focus {
    box-shadow: 0 0 0.25rem 0 rgba(255, 255, 255, 0.7);
  }
}

// Show the sidebar items when the sidebar and the editor are visible.
#kando-editor.visible #kando-editor-sidebar-area.visible .sidebar-item {
  pointer-events: all;
  transform: translateX(0px);
  opacity: 1;
}
