/* ------------------------------------------------------------------------------------- #
#    _  _ ____ _  _ ___  ____                                                            #
#    |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform          #
#    | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/kando-menu/kando      #
#                                                                                        #
# -------------------------------------------------------------------------------------- #

SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
SPDX-License-Identifier: MIT
*/

@import './bootstrap.scss';

body {
  background: transparent;
  overflow: hidden;
  user-select: none;
}

#menu-container {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

#sidebar {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 500px;
  pointer-events: none;
  resize: horizontal;
}

body.menu-visible.sidebar-visible #sidebar > * {
  pointer-events: all;
}

.sidebar-item {
  overflow: hidden;
  border-radius: var(--bs-border-radius);
  margin: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);

  opacity: 0;
  transform: translateX(-20px);

  transition:
    transform 150ms ease,
    opacity 150ms ease;
}

.btn.dark-glass {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);

  width: 45px;
  height: 45px;

  transition:
    transform 150ms ease,
    opacity 150ms ease;

  // Center text.
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: rgba(20, 20, 20, 0.8);
  }

  &:active {
    border: none;
    transform: translateY(1px);
    background-color: rgba(0, 0, 0, 0.8);
  }
}

@for $i from 1 through 10 {
  .sidebar-item:nth-child(#{$i}) {
    transition-delay: #{($i - 1) * 30}ms;
  }
}

body.menu-visible.sidebar-visible .sidebar-item {
  opacity: 1;
  transform: translateX(0px);
}

#show-sidebar-button {
  transform: translateX(-20px);
  border-bottom-right-radius: 50%;
  opacity: 0;
  position: absolute;
  left: 10px;
  top: 10px;

  i {
    transform: none;
  }
}

body.menu-visible:not(.sidebar-visible) #show-sidebar-button {
  transform: translateX(0px);
  opacity: 1;
}

#hide-sidebar-button {
  transform: translateX(-20px);
  opacity: 0;
  position: absolute;
  right: -40px;
  top: 15px;

  i {
    transform: none;
  }
}

body.menu-visible.sidebar-visible #hide-sidebar-button {
  transform: translateX(0px);
  opacity: 1;
}

#sidebar .material-icons-round {
  font-size: 1.25rem !important;
}

// Editor --------------------------------------------------------------------------------

#show-editor-button {
  transform: translateY(20px);
  border-top-left-radius: 50%;
  opacity: 0;
  position: absolute;
  right: 10px;
  bottom: 10px;

  i {
    transform: none;
  }
}

body.menu-visible:not(.editor-visible) #show-editor-button {
  transform: translateX(0px);
  opacity: 1;
}
