# SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de>
# SPDX-License-Identifier: CC0-1.0

name: Test Deploy

on:
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  linux:
    name: Linux
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4.4.0
        with:
          node-version-file: .node-version
          cache: 'pnpm'
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.22.0
      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y libx11-dev libxtst-dev libwayland-dev libxkbcommon-dev flatpak-builder
          pnpm install --frozen-lockfile
      - name: Fix Permissions
        # Workaround for https://github.com/electron/electron/issues/17972
        working-directory: apps/kando
        run: |
          sudo chmod 4755 node_modules/electron/dist/chrome-sandbox || true
          sudo chown root node_modules/electron/dist/chrome-sandbox || true
      - name: Create Packages
        run: pnpm --filter ./apps/kando make
      - name: Create AppImage
        run: tools/make-app-image.sh
      - name: Create Flatpak bundle
        run: |
          sudo flatpak remote-add flathub https://flathub.org/repo/flathub.flatpakrepo
          sudo tools/make-flatpak-bundle.sh
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-${{ matrix.os }}
          path: '**/out/make/**/*'
          retention-days: 7

  windows:
    name: Windows
    strategy:
      matrix:
        os: [windows-2022, windows-11-arm]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4.4.0
        with:
          node-version-file: .node-version
          cache: 'pnpm'
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.22.0
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: Create Release
        run: pnpm --filter ./apps/kando make
      - name: Rename Executables
        shell: pwsh
        env:
          MATRIX_OS: ${{ matrix.os }}
        run: |
          $paths = @("out/make/squirrel.windows","apps/kando/out/make/squirrel.windows")
          foreach ($p in $paths) {
            if (Test-Path $p) {
              if ($env:MATRIX_OS -eq "windows-2022") {
                Get-ChildItem -Path "$p/*/*.exe" | Rename-Item -NewName { $_.BaseName + "-x64" + $_.Extension }
              } elseif ($env:MATRIX_OS -eq "windows-11-arm") {
                Get-ChildItem -Path "$p/*/*.exe" | Rename-Item -NewName { $_.BaseName + "-arm64" + $_.Extension }
              }
            }
          }
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-${{ matrix.os }}
          path: |
            **/out/make/zip/win32/*/*
            **/out/make/squirrel.windows/*/*.exe
          retention-days: 7

  macos:
    name: macOS
    strategy:
      matrix:
        os: [macos-13, macos-14]
    runs-on: ${{ matrix.os }}
    steps:
      # https://github.com/electron/forge/issues/2807
      - run: python3 -m pip install setuptools --break-system-packages
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4.4.0
        with:
          node-version-file: .node-version
          cache: 'pnpm'
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.22.0
      - name: Install Dependencies
        run: |
          pnpm install --frozen-lockfile
          pnpm --filter ./apps/kando add -D appdmg
      - name: Add macOS certificates
        if: ${{ ! github.event.pull_request.head.repo.fork && github.actor != 'dependabot[bot]' }}
        env:
          OSX_CERTIFICATE: ${{ secrets.OSX_CERTIFICATE }}
          OSX_CERTIFICATE_PASSWORD: ${{ secrets.OSX_CERTIFICATE_PASSWORD }}
        run: |
          .github/osx_certificates.sh
      - name: Create Release
        env:
          KANDO_OSX_SIGN: ${{ ! github.event.pull_request.head.repo.fork && github.actor != 'dependabot[bot]' }}
          KANDO_OSX_NOTARIZE: ${{ ! github.event.pull_request.head.repo.fork && github.actor != 'dependabot[bot]' }}
          OSX_APP_SPECIFIC_ID: ${{ secrets.OSX_APP_SPECIFIC_ID }}
          OSX_APP_SPECIFIC_PASSWORD: ${{ secrets.OSX_APP_SPECIFIC_PASSWORD }}
          OSX_TEAM_ID: ${{ secrets.OSX_TEAM_ID }}
        run: pnpm --filter ./apps/kando make
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-${{ matrix.os }}
          path: |
            **/out/make/*.dmg
            **/out/make/zip/darwin/**/*.zip
          retention-days: 7
