/*//////////////////////////////////////////////////////////////////////////////////////*/
/*   _  _ ____ _  _ ___  ____                                                           */
/*   |_/  |__| |\ | |  \ |  |    This file belongs to Kando, the cross-platform         */
/*   | \_ |  | | \| |__/ |__|    pie menu. Read more on github.com/kando-menu/kando     */
/*                                                                                      */
/*//////////////////////////////////////////////////////////////////////////////////////*/

/* SPDX-FileCopyrightText: Simon Schneegans <code@simonschneegans.de> */
/* SPDX-License-Identifier: MIT */

#kando-menu {
  --child-distance: 100px;
  --parent-distance: 150px;
  --grandchild-distance: 25px;

  --center-size: 100px;
  --child-size: 50px;
  --grandchild-size: 15px;
  --connector-width: 10px;
  --item-color: rgb(255, 255, 255);
  --text-color: rgb(66, 66, 66);
  --hovered-item-color: rgb(255, 200, 200);
  --border-color: rgb(109, 109, 109);
  --connector-color: rgb(109, 109, 109);
  --connector-color-hover: rgb(172, 136, 136);
  --connector-color-active: rgb(255, 200, 200);
  --menu-transition: all 250ms cubic-bezier(0.775, 1.325, 0.535, 1);
  --opacity-transition: opacity 250ms ease;

  .menu-node {
    transition: var(--menu-transition);

    &.grandchild {
      transform: translate(calc(var(--grandchild-distance) * var(--dir-x)),
          calc(var(--grandchild-distance) * var(--dir-y)));
    }

    &.child {
      transform: translate(calc(var(--child-distance) * var(--dir-x)),
          calc(var(--child-distance) * var(--dir-y)));
    }

    &.parent {
      transform: translate(calc(var(--parent-distance) * var(--dir-x)),
          calc(var(--parent-distance) * var(--dir-y)));
    }

    &.active:has(> .menu-node.hovered)>.child {
      --wobble: calc(1.0 + 0.15 * pow(1 - var(--angle-diff) / 180, 4));

      &.hovered {
        --wobble: calc(1.05 + 0.15 * pow(1 - var(--angle-diff) / 180, 4));
      }

      transform: scale(var(--wobble)) translate(calc(var(--child-distance) * var(--dir-x)),
        calc(var(--child-distance) * var(--dir-y)));
    }


    /* Theme Layers ------------------------------------------------------------------- */

    /* We hide all icons by default. They will be shown further down in this file for the
       center item and the child items. */
    .icon-container {
      opacity: 0;
      color: var(--text-color);
      transition: var(--opacity-transition);
    }

    /* All menu items have a border and are circles in this theme. */
    .menu-item {
      position: absolute;
      border-radius: 50%;
      border: 1px solid var(--border-color);
      transition: var(--menu-transition);
    }

    /* The active menu item is the center of the menu. */
    &.active>.menu-item {
      top: calc(-1 * var(--center-size) / 2);
      left: calc(-1 * var(--center-size) / 2);
      width: var(--center-size);
      height: var(--center-size);
      background-color: var(--item-color);
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }

    /* If the center item has a hovered child node, we scale it up and hide its icon. */
    &.active:has(> .menu-node.hovered)>.menu-item {
      transform: scale(1.1);

      &>.icon-container {
        opacity: 0;
      }
    }

    /* If the center node is hovered, we want to highlight it. */
    &.active.hovered>.menu-item {
      background-color: var(--hovered-item-color);
    }

    /* If the parent or a child node is clicked, we scale it down to normal size. */
    &.parent.hovered.clicked>.menu-item,
    &.child.hovered.clicked>.menu-item {
      transform: scale(1.0);
    }

    /* If the center node is clicked, we scale it down a bit. */
    &.active.hovered.dragged>.menu-item {
      transform: scale(0.9);
    }

    /* Show the icons of the center, parent and child items. */
    &.parent>.menu-item>.icon-container,
    &.child>.menu-item>.icon-container,
    &.active>.menu-item>.icon-container {
      opacity: 1;
    }

    /* Child items are displayed around the active node. The parent node of the active
       node is displayed in a similar style. */
    &.parent>.menu-item,
    &.child>.menu-item {
      top: calc(-1 * var(--child-size) / 2);
      left: calc(-1 * var(--child-size) / 2);
      width: var(--child-size);
      height: var(--child-size);
      background-color: var(--item-color);
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }

    /* Hovered child or parent items are highlighted. */
    &.parent.hovered>.menu-item,
    &.child.hovered>.menu-item {
      background-color: var(--hovered-item-color);
    }

    /* Grandchild items are very small and drawn below the child items. */
    &.grandchild>.menu-item {
      top: calc(-1 * var(--grandchild-size) / 2);
      left: calc(-1 * var(--grandchild-size) / 2);
      width: var(--grandchild-size);
      height: var(--grandchild-size);
      background-color: var(--border-color);
    }

    /* We disable any transition for dragged items. */
    &.dragged {
      transition: none;
    }

    /* Connectors --------------------------------------------------------------------- */

    .connector {
      transition: var(--menu-transition);
      height: var(--connector-width);
      background-color: var(--connector-color);
      top: calc(-1 * var(--connector-width) / 2);
    }

    &:has(.dragged)>.connector,
    &:has(.clicked)>.connector {
      transition: none;
    }

    &.hovered>.connector {
      background-color: var(--connector-color-hover);
    }

    &.active>.connector {
      background-color: var(--connector-color-active);
    }
  }

  /* Center Text ---------------------------------------------------------------------- */

  .center-text {
    color: var(--text-color);
    transition: var(--opacity-transition);
    font-size: 16px;
    line-height: 22px;
  }
}